@model List<Menu>
@if (Model != null && Model is List<WebClothes.ViewModels.Menu>)
{
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page">Home</a></li>
        @foreach (var i in Model)
        {
            if (i.ChildCategory != null)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" asp-action="@i.Category.Name" asp-controller="Shop" role="button" data-bs-toggle="dropdown" aria-expanded="false">@i.Category.Name</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @foreach (var ii in i.ChildCategory)
                        {
                            <li><a class="dropdown-item" asp-action="@ii.Name" asp-controller="Shop">@ii.Name</a></li>
                        }
                    </ul>
                </li>
            }
        }
    </ul>
}