@model View_Province


@{
    ViewData["Title"] = "Edit_Province";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Danh mục</h1>
    </div>

    <!-- Content Row -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Province</h6>
        </div>
        <form asp-action="Edit_Province">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary d-inline-block">Edit</h6>
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <label class="btn btn-primary disabled">
                                        Name
                                    </label>
                                </div>
                                <input asp-for="Name" type="text" class="form-control bg-light border-0 small">
                                <input asp-for="Districts" type="text" class="d-none" value="ok">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



