@model View_Product_Edit


@{
    ViewData["Title"] = "Edit_Pro";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Danh mục</h1>
    </div>

    <!-- Content Row -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Pro</h6>
        </div>
        <form asp-action="EditPro" enctype="multipart/form-data">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary d-inline-block">Add</h6>
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <label class="btn btn-primary disabled">
                                        Name
                                    </label>
                                </div>
                                <input asp-for="Name" type="text" class="form-control bg-light border-0 small">
                                <input  type="hidden" asp-for="Attr" value="ok"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <label class="btn btn-primary disabled">
                                        DesShort
                                    </label>
                                </div>
                                <input asp-for="DesShort" type="text" class="form-control bg-light border-0 small">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <label class="btn btn-primary disabled">
                                        SKU
                                    </label>
                                </div>
                                <input asp-for="SKU" type="text" class="form-control bg-light border-0 small">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <label class="btn btn-primary disabled">
                                        Price
                                    </label>
                                </div>
                                <input asp-for="Price" type="text" class="form-control bg-light border-0 small">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <label class="btn btn-primary disabled">
                                        SellPrice
                                    </label>
                                </div>
                                <input asp-for="SellPrice" type="text" class="form-control bg-light border-0 small">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <label class="btn btn-primary disabled">
                                        Capital Price
                                    </label>
                                </div>
                                <input asp-for="CapitalPrice" type="text" class="form-control bg-light border-0 small">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <label class="btn btn-primary disabled">
                                        BarCode
                                    </label>
                                </div>
                                <input asp-for="Barcode" type="text" class="form-control bg-light border-0 small">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <label class="btn btn-primary disabled">
                                        Quantity
                                    </label>
                                </div>
                                <input asp-for="Quantity" type="text" class="form-control bg-light border-0 small">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <label class="btn btn-primary disabled">
                                        Pro_Oum
                                    </label>
                                </div>
                                <select asp-for="UomId" class="form-control bg-light border-0 small" asp-items="ViewBag.oum">
                                    <option value="">Open this select menu</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <label class="btn btn-primary disabled">
                                        Category
                                    </label>
                                </div>
                                <select asp-for="CategoryId" class="form-control bg-light border-0 small" asp-items="ViewBag.cat">
                                    <option value="">Open this select menu</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <label class="btn btn-primary disabled">
                                        Sale
                                    </label>
                                </div>
                                <input asp-for="Sale" type="text"  class="form-control bg-light border-0 small">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <input type="file" id="files" class="d-none" />
                                    <label class="btn btn-primary" for="files">
                                        Edit Img
                                    </label>
                                </div>
                                <input asp-for="Img" class="btn img-file d-none" />
                            </div>
                            <img src="@Model.Img" style="width:100px;height:100px" class="img-edit" />
                        </div>
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <label class="btn btn-primary disabled">
                                        DesLong
                                    </label>
                                </div>
                                <textarea asp-for="DesLong" id="myArea1" style="width: 100%;" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section ChangFile {
    <script>
        $(document).ready(function () {
            $('#files').change(function () {
                var srcCurrent = $('.img-edit').attr('src');
                let s = $('#files').val();
                let fileName = s.replace("C:\\fakepath\\", "");
                let path = "/Images/" + fileName;
                var data = $('#files')[0].files[0]
                var formData = new FormData();
                formData.append("ufile", data);
                $.ajax({
                    type: "POST",
                    url: "/Admin/Img/UploadFile",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        $('.img-edit').attr('src', path);
                        $('.img-file')[0].value = path;
                    }
                })
                if (srcCurrent != '') {
                    if (srcCurrent != path) {
                        $.ajax({
                            type: "POST",
                            url: "/Admin/Img/DeleteFile",
                            data: {ufile:srcCurrent},
                            success: function (result) {
                                $.notify("Success", "success");
                            }
                        })
                    }
                }
            })
        })
    </script>

}
